[Desktop Entry]
Exec=/home/ducan/devtools/jetbrain/clion/bin/clion.sh
GenericName=webstorm
Name=webstorm
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;RemoteControl;
Icon=/home/ducan/devtools/jetbrain/clion/bin/clion.png
# Remove under line for fixing icon bug in taskbar
#StartupWMClass=sunloginclient
